/* TableComponent.css */
.frame1{
  height: 700px;
  margin-top: 20px;
  background-color:#b39ab8;
}
/* .cartTable{
  padding-top: 20px;

} */
.cartGrid{
  padding-top: 30px;
  /* background-color: #ddd; */
  margin-left: 10%;
  margin-right: 10%;

}
table {
    border-radius: 8px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;


  }
  tbody{
    background-color: #dee1ff ;
  }
  table th,
  table td {
    
    
    /* border-bottom: 1px solid black; */
    padding: 12px 15px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }
  th{
    font-size: 1.2em;
    color: white;
  }
 thead{
  background-color: #61226b ;
  border-radius: 10px;

 } 
  table th {
    
    font-weight: bold;
    /* text-transform: uppercase; */
  }

  table {
    /* border-collapse:separate; */
    border:none;
    border-radius:20px;
}
  
.placeButton{
  float: right;
    font-size: 1em;
    border: none;
    font-weight: bold;
    height: 40px;
    width: 12%;
    background-color:#6a9c92 ;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
}

.placeButton:hover{
 
  border: 1px solid black;

}

/*  */
